<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "UnderTile.Mythius.com.github"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Undertile</name>

    <description>
        An app of the Undertale Tile game.
    </description>

    <author href="https://github.com/Mythius" email="southwickmatthias@gmail.com">
        Mythius
    </author>

</widget>
